/* Ported from Rainbow github theme*/

.CodeMirror.CodeMirror-pre-rendered {
  height: auto;
  padding: 10px;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  margin: 0 0 20px 0;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.cm-s-github.CodeMirror {
  background: #f8f8f8;
  color: #333;
}

.cm-s-github .CodeMirror-selected {
  background: #253B76 !important;
}

.cm-s-github .CodeMirror-gutters {
  background: #f8f8f8;
  border-right: 0;
}

.cm-s-github .CodeMirror-linenumber {
  color: #888;
}

.cm-s-github .CodeMirror-cursor {
  border-left: 1px solid #A7A7A7 !important;
}

.cm-s-github .cm-keyword {
  font-weight: bold;
}

.cm-s-github .cm-atom {
  color: teal;
}

.cm-s-github .cm-number {
  color: #099;
}

.cm-s-github .cm-def {
  color: navy;
}



.cm-s-github .cm-qualifier {
  color: #458;
  font-weight: bold;
}

.cm-s-github .cm-property {
  font-weight: bold;
}



.cm-s-github .cm-comment {
  color: #998;
}

.cm-s-github .cm-string {
  color: #d14;
}

.cm-s-github .cm-string-2 {
  color: #d14;
}



.cm-s-github .cm-builtin {
  font-weight: bold;
}

.cm-s-github .cm-tag {
  color: navy;
}

.cm-s-github .cm-attribute {
  color: teal;
}

.cm-s-github .cm-header {
  color: #FF6400;
}

.cm-s-github .cm-hr {
  color: #AEAEAE;
}

.cm-s-github .cm-link {
  color: navy;
}

.cm-s-github .cm-error {
  background: #9D1E15;
  color: #f8f8f8;
}

.cm-s-github .CodeMirror-activeline-background {
  background: #e8e8e8 !important;
}

.cm-s-github .CodeMirror-matchingbracket {
  outline: 1px solid grey;
  color: #333 !important;
}